*{
  font-family: 'Poppins', sans-serif;
}
.logo{
    display: block;
    margin: auto;
}
body {
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  

  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1 {
  margin-top: 12px;
  font-size: 30px;
  
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  height: 40vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 46px;
  /* border-radius: 50px; */

  border: 15px solid hsla(0, 0%, 100%, 0.5);
  /* background-image: url(../images/bg1.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.send {
  position: absolute;
  width: 100%;

bottom: 150px;
  
}

.message {
  /* background-color: grey; */
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform:capitalize
}

.left {
  float: left;
  clear: both;
  background-color: #f1f1f1;
}

.right {
  float: right;
  clear: both;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
input{
  height: 200px;
}
#send-container {
 width: 67%;
 position: relative;
 left:16%
 
  /* position: relative; */
  /* display: block;
  
  margin-left: 10%;
  top: 5%;
  text-align: center; */
}

#messageInp {
  display: none;
  position: absolute;

  background-color: red;
}
.btn {
cursor:pointer;
float:right;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  width:150px;
  font-size: 30px;
}
.emojionearea-editor{
  background-color: red;
}
#messageInp{
 
}